body:not(.wp-admin) {
  .basil-text-block {
    position: relative;
    overflow: hidden;

    .right-content {
      position: relative;
      z-index: 2;
    }

    .basil {
      position: absolute;
      z-index: 1;
      left: -10%;
      top: -70%;
      bottom: -70%;
      width: 60%;

      object {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }

      @include media-breakpoint-down(lg) {
        left: -20%;
        width: 70%;
      }

      @include media-breakpoint-down(md) {
        left: -25%;
        width: 50%;
      }
    }
  }
}
