/* stylelint-disable no-descending-specificity */
.page-header {
  background-color: $secondary;
  color: $cream;
  height: 200px;

  @include media-breakpoint-down(sm) {
    height: auto;
  }

  .container-fluid,
  .container {
    height: 100%;

    .row {
      height: 100%;

      .title-breadcumbs {
        display: flex;
        height: 100%;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        flex-wrap: no-wrap;
        padding: 30px 50px;

        @include media-breakpoint-down(sm) {
          padding: 25px 30px;
          display: block;
        }

        h1 {
          max-height: 100px;
          width: 100%;
          margin-bottom: 0;
        }
      }

      .image-outer {
        height: 100%;
        position: relative;

        svg.header-clip {
          position: absolute;
          top: 0;
          bottom: 0;
          left: -2px;
          width: 30px;
          height: 100%;
          z-index: 1;

          * {
            fill: $secondary;
          }

          @include media-breakpoint-down(sm) {
            display: none;
          }
        }

        svg.header-clip-mobile {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          width: 100%;
          height: 20px;
          display: none;

          * {
            fill: $secondary;
          }

          @include media-breakpoint-up(md) {
            display: none;
          }
        }
      }

      .object-image {
        width: 100%;
        height: 100%;

        @include media-breakpoint-down(sm) {
          height: 200px;
        }

        @include media-breakpoint-down(xs) {
          height: 150px;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }

  #breadcrumbs {
    color: #fff;

    a {
      color: #fff;
      text-decoration: none;

      &:hover,
      &:focus,
      &:active {
        color: $primary;
      }
    }

    i {
      font-size: 10px;
      margin-left: 3px;
      margin-right: 3px;
      margin-top: -2px;
    }
  }

  h1 {
    color: #fff;
  }
}
