body.single-ses_activities {
  .new-badge {
    padding: 0 3px;
    background-color: $primary;
    color: #fff;
    font-size: 0.7em;
    margin-left: 5px;
  }

  @include media-breakpoint-down(sm) {
    .table {
      thead {
        display: none;
      }

      th,
      td {
        display: block;
        box-sizing: border-box;
        clear: both;
        width: 100% !important;
      }
    }
  }
}
