@font-face {
  font-family: "Gloria";
  src: url("../fonts/gloria-light-webfont.woff2") format("woff2"), url("../fonts/gloria-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Gloria";
  src: url("../fonts/gloria-regular-webfont.woff2") format("woff2"), url("../fonts/gloria-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gloria";
  src: url("../fonts/gloria-bold-webfont.woff2") format("woff2"), url("../fonts/gloria-bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
